@import url('https://fonts.googleapis.com/css?family=Arvo');

/** typografie **/
h1, h2, h3 {
    font-family: "Blackout Midnight", sans-serif; 
    font-weight: bold; 
}

h1 {
    font-size: 30px;
}

h2 {
    margin-top: 2em;
}

h4, h5, p {
    font-family: "Arvo", serif;
}

h4 {
    font-size: 24px;
    font-weight: bold;
}

h5 {
    font-size: 15px;
    margin-left: 50%;
    margin-top: -10px;
    text-align: right;
}

/** list styles **/
li {
    font-family: "Arvo", serif; 
}

ul {
    list-style-image: url("afbeeldingen/peace.jpg");
}

/** buttons **/
.btn {
    font-weight: bold;
}

.btn-secondary {
    background-color: #F51515;
    font-family: "Blackout Midnight", sans-serif;
    border: 3px solid #2c9494;
}

.btn-outline-danger, .btn-outline-info {
    font-family: "Arvo", serif;
    border-width: 3px;

}
.btn-dark {
    background-color: #2c9494;
    border: none;
}

/** achtergrond **/

.blue {
    background-color: #6AB4B4;
}

.red {
    background-color: #FD4C4C;
}



@media (min-width: 576px) { ... }

@media (min-width: 768px) { 
    .flexible {
        margin-top: 100px;
    }

    h1 {
        font-size: 100px;
    }

    .btn-secondary {
        font-size: 30px;
    }
 }

@media (min-width: 992px) { 
    .carousel-caption {
        margin-bottom: 240px !important;
    }
 }

@media (min-width: 1200px) { ... }

